version: 2
updates:
    - package-ecosystem: "npm"
      directory: "/"
      schedule:
          interval: "monthly"
      commit-message:
          prefix: "dependabot:"
      open-pull-requests-limit: 5
